body{
    width: 950vw;
    height: 150vh;
    margin:0;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    background-image: url(./img/fondo_borroso.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
    
}
.canvas{
    
    background-color: rgba(130, 238, 229, 0.623);
    border: 3px solid rgb(0, 60, 255);

  
}

.instrucciones{
 display: flex;
 color:white;
 flex-direction: column;
 margin-left: 10px;
 margin-right: 10px;
 font-size: 10px;
 font-family:Arial, Helvetica, sans-serif;
 color: white;
 
}

