body{
    background-color: rgb(96, 119, 182);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
h1{color:white;
}
canvas{
    background-color: rgba(130, 238, 229, 0.623);
    border: 3px solid rgb(0, 60, 255)
}